*{
    margin: 0;
    padding: 0;
}

html, body
{
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 9pt;
    width: 100%;
    position: relative;
    height:100%;
    background: #F6F6F6;
    /*background: #6E943F;
    background-color: #eeeeee;*/
    /*background-image:  url('images/body-bg.jpg');
    background-size: 100%;*/
}

a
{
    color: blue;
    outline: none;
    text-decoration: underline;
}

a:hover
{
    text-decoration: none;
}

p
{
    margin: 0 0 18px;
}

img
{
    border: none;
}

input
{
    vertical-align: middle;
}
h1, h2, h3, h4, h5, h6
{
color: #909015;
    font: 16px "Segoe UI",Arial,sans-serif;
}
h1
{
    font-size: 1em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2
{
    padding: 0 0 10px 0;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

#wrapper
{
    
    width: 1150px;
    margin: 0 auto;
}

#header
{
    background: url('images/top-header-bg.jpg');
    height: 60px;
}

#header-wrapper
{
    margin: 0 auto;
    padding: 0;
    width: 1150px;
    height: 60px;
}
#nav
{
    height: 40px;
    float: right;
    /*background-color: #6E943F;
    background-color: #E3BB00*/;
}
#nav ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
#nav li
{
    display: inline;
    margin: 0;
    padding: 0;
}

#main
{
    float: left;
    width: 1150px;
    min-height: 450px;
    -webkit-box-shadow: 0 1px 6px 2px rgba(0,0,0,0.75), inset 0 1px 1px white;
    -moz-box-shadow: 0 1px 6px 2px rgba(0,0,0,0.75), inset 0 1px 1px white;
    box-shadow: 0 1px 6px 2px rgba(0,0,0,0.75), inset 0 1px 1px white;
    background-color: #f7f7f7;
    -webkit-border-radius: 5px 5px 0 0 ;
    -moz-border-radius: 5px 5px 0 0 ;
    border-radius: 5px 5px 0 0 ;
}
#container
{
    float: left;
    width: 928px;
    border-left: 1px solid #cccccc;
    }
#sidebar
{
    float: left;
    width: 220px;
}
#footer
{
    clear: both;
    border-top: 2px solid #EEEEEE;
    height: 40px;
    background-color: f5f5f5;
}

.title h1, #title h1
{
    border: medium none;
    color: #D8E11B;
    font-family: MV Boli;
    font-size: 20px !important;
    line-height: 2em;
}

.title h6, #title h6
{
    font-size: 10px !important;
    color: #cccccc;
}

div#title
{
    width: 170px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    /*border-bottom: 2px #222222 solid;*/
    padding: 1px 1px;
    position: relative;
    margin: 0;
    text-align: left;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 8px 15px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: transparent;
    color: #0A1F30;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

ul#menu li a:hover
{
     /*background: url("images/menu-bg.jpg") no-repeat scroll 70% 70% transparent;*/
    background: #2A576C;
    text-decoration: none;
    color: #cccccc;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2) inset;
}

ul#menu li a:active
{
    background-color: #222222;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #333333;
    color: #000;
}

.src-container 
{
    margin-top: 30px;
}

/*
    Source Sample Container
*/
/* Generic Utility */
.hide { position: absolute; top: -9999px; left: -9999px; }
#src-container .nav { overflow: hidden; margin: 0 0 10px 0; }
#src-container .nav li { width: 97px; float: left; margin: 0 10px 0 0; }
#src-container .nav li.last { margin-right: 0; }
#src-container .nav li a { display: block; padding: 5px; background: #EFEFEF; text-align: center; border: 0; }
#src-container .nav li a:hover { background-color: #111; }

#src-container ul { list-style: none; }
#src-container ul li a { display: block; border-bottom: 1px solid #666666; padding: 4px; color: #666666; }
#src-container ul li a:hover { background: #fe4902; color: white; }
#src-container ul li:last-child a { border: none; }

#src-container ul li.nav-one a.current, #src-container ul.featured li a:hover { background-color: #0575f4; color: white; }
#src-container ul li.nav-two a.current, #src-container ul.core li a:hover { background-color: #d30000; color: white; }
#src-container ul li.nav-three a.current, #src-container ul.jquerytuts li a:hover { background-color: #8d01b0; color: white; }
#src-container ul li.nav-four a.current, #src-container ul.classics li a:hover { background-color: #FE4902; color: white; }

/*
   This imageless css button was generated by CSSButtonGenerator.com
*/
.btn {
	-moz-box-shadow:inset 0px 0px 0px -12px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px -12px #ffffff;
	box-shadow:inset 0px 0px 0px -12px #ffffff;
	background-color:#e0dde0;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #cfc9cf;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	padding:4px 10px;
	text-decoration:none;
	text-shadow:1px 0px 0px #ffffff;
    cursor: pointer;
}.btn:hover {
	background-color:#ebe8eb;
}.btn:active {
	position:relative;
	top:1px;
}